* { margin: 0; padding: 0; }
.hidden { display: none; }
.clear { clear: both; line-height: 0px; font-size: 0px; height: 0px; border-style: none; outline-style: none; overflow: hidden; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
a { outline: 0px none black; border: 0px none black; text-decoration: none; }
a * { outline: 0px none black; border: 0px none black; text-decoration: none; }
p, h1, h2, h3, h4, h5, h6 { display: block; }

@font-face {
  font-family: 'ShorelinesScriptBold';
  src: url("../fonts/ShorelinesScriptBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ShorelinesScriptBold.woff") format("woff"), url("../fonts/ShorelinesScriptBold.ttf") format("truetype"), url("../fonts/ShorelinesScriptBold.svg#ShorelinesScriptBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

.banner {
  position: relative;
  width: 100%;
  height: 200px;
}

.banner img {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.segmented-control .control-item.active {
  /*background-color: #e8f1c7;*/
  background-color: #f9b9aa;
  color: white;
  letter-spacing: 1px;
}

.banner .icon-play {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 10px 10px 0;
  padding: 8px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.app-logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
  height: 25px;
}

.high-five {
  display: inline-block;
  margin-left: 7px;
  font-size: 16px;
}

.table-view-cell img.media-object {
  width: 42px;
  height: 42px;
}

.demo-video {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.exo-view {
  position: relative;
  display: none;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.exo-view .icon-close {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.exo-view .secondary-tbv {
  margin-top: 50px;
}

.exo-view .secondary-tbv .table-view-cell {
  padding: 11px 15px;
}

.carousel {
  width: 100%;
  height: 200px;
  background-color: white;
}

.carousel img {
  height: 200px;
  display: block;
  margin: auto;
}

.high-fives {
  display: none;
  padding: 10px;
}

.btn.btn-primary {
  background-color: #f9b9aa;
  border: none;
  padding-bottom: 5px;
}

.btn.btn-primary small {
  font-family: "ShorelinesScriptBold";
  font-size: 24px;
}

.align-center {
  text-align: center;
}

.get-high-five-input::-webkit-input-placeholder {
   color: #d6d4d4;
}

.profile-pic {
  border-radius: 50px;
}

.emoji-icon {
  font-size: 18px;
}

#canvas {
  display: none;
}


.give-high-five {
  margin-top: 8px;
}

.give-high-five .emoji-icon {
  font-size: 24px;
}

.give-high-five .count {
  font-size: 12px;
  color: #3B5998;
}

.bar-standard {
  position: relative;
}

.main-tbv {
  margin-top: -1px;
}

.hidden-overflow, .slick-dotted.slick-slider {
  overflow: hidden;
}

.hidden-overflow {
  width: 100%;
}